.tech-header h4 {
    padding: 10px;
    margin-left: 40vh;
    align-items: center;
    color: rgb(1, 53, 14);
  }
  .tech-header h2 {
      margin-left: 90vh;
      align-items: center;
      color: rgb(92, 1, 72);
    }
  .tech-container-one {
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
    max-width: 90%;
    gap: 100px;
  }

  .tech-para {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    font-weight: 600;
  }
  .tech-para h3 {
    color: rgb(11, 63, 1);
  }
  .tech-para p {
    width: 700px;
  }
  
  .tech-image {
    height: 250px;
    border-radius: 8px;
    margin-top: 70px;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    50% {
      box-shadow: 10px 20px 30px rgb(24, 22, 10);
    }
  }
  
  .tech-container-two {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 80%;
    gap: 240px;
  }
  .tech-para-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    font-weight: 600;
  }
  .tech-para-two p {
    width: 600px;
  }
  .tech-para-two h3 {
    color: #0c3301;
  }
  .tech-image-two {
    height: 250px;
    border-radius: 8px;
    margin-top: 60px;
    animation: mymoveone 5s infinite;
  }
  @keyframes mymoveone {
    50% {
      box-shadow: 10px 20px 30px rgb(24, 22, 10);
    }
  }
  .tech-container-three{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 50%;
    gap: 240px;
    /* border-radius: 10px; */
  }

  .tech-container-four {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 80%;
    gap: 240px;
  }
  .tech-para-four {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    font-weight: 600;
  }
  .tech-para-four p {
    width: 600px;
  }
  .tech-para-four h3 {
    color: #0c3301;
  }
  .tech-image-four {
    height: 250px;
    border-radius: 8px;
    margin-top: 60px;
    animation: mymoveone 5s infinite;
  }
  @keyframes mymoveone {
    50% {
      box-shadow: 10px 20px 30px rgb(24, 22, 10);
    }
  }
  .scroll-button{
    display:flex;
  justify-content: end;
  margin-top: -100px;
  margin-right: -50%;
  }